﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search for up to 200 places with Radar Search</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 70%;
      }
    </style>
    <script>
        var map;
        var infoWindow;
        var service;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -22.638, lng: -47.187 },
                zoom: 15,
                
            });
            var style = "";
            var latitude = ["-22.64647928", "-22.64645796", "-22.64652138", "-22.64659325", "-22.64663317", "-22.6465485", "-22.6465668", "-22.64672673", "-22.64674981", "-22.64683789", "-22.6465626", "-22.64656269", "-22.64654026", "-22.64656109", "-22.64637517", "-22.64631987", "-22.64626695", "-22.64619515", "-22.64619406", "-22.64593079", "-22.6458386", "-22.64543149", "-22.64578565", "-22.64568898", "-22.64567406", "-22.64564788", "-22.64565335", "-22.64559516", "-22.64559182", "-22.64569179", "-22.64535982", "-22.64535961", "-22.6453454", "-22.64506149", "-22.64506608", "-22.64494301", "-22.64491869", "-22.64492644", "-22.64483847", "-22.64484983", "-22.64478409", "-22.64473375", "-22.64471206", "-22.64468015", "-22.6446525", "-22.64460441", "-22.64459244", "-22.64374274", "-22.64341463", "-22.64300405", "-22.64292678", "-22.64343944", "-22.64342365", "-22.64340507", "-22.64340649", "-22.64340643", "-22.64582978", "-22.6457011", "-22.64571135", "-22.64581275", "-22.64586709", "-22.64574905", "-22.64577976", "-22.64588365", "-22.64588936", "-22.64580764", "-22.643535958638374", "-22.64289983", "-22.64284688", "-22.64284735", "-22.64278318", "-22.64273967", "-22.64274483", "-22.64282221", "-22.64261362", "-22.64254874", "-22.64252249", "-22.64260683", "-22.6424982", "-22.64255356", "-22.64255764", "-22.64241353", "-22.64240677", "-22.64249051", "-22.64247191", "-22.64242611", "-22.64252528", "-22.64252546", "-22.64294719", "-22.64298524", "-22.64299205", "-22.64310186", "-22.64309637", "-22.6430363", "-22.64305912", "-22.6430582", "-22.64315554", "-22.64318417", "-22.64324832", "-22.64309581", "-22.64308408", "-22.64304719", "-22.6432139", "-22.64285863", "-22.64287922", "-22.64299419", "-22.64340863", "-22.64340661", "-22.64360582", "-22.64370784", "-22.64374806", "-22.64401407", "-22.64404554", "-22.64398622", "-22.64392673", "-22.64402061", "-22.64407346", "-22.64409105", "-22.64412119", "-22.64414506", "-22.64419759", "-22.64422335", "-22.64423323", "-22.64416224", "-22.6442209", "-22.64443355", "-22.64431375", "-22.64436311", "-22.64436718", "-22.64447598", "-22.64447028", "-22.64453885", "-22.64455996", "-22.64455119", "-22.64452753", "-22.64456965", "-22.64466906", "-22.64458879", "-22.6446673", "-22.64468882", "-22.64493768", "-22.64486891", "-22.64491246", "-22.64490537", "-22.64487877", "-22.64488301", "-22.64484472", "-22.64484487", "-22.64492949", "-22.64503559", "-22.64512188", "-22.6451485", "-22.64519642", "-22.64529237", "-22.64528053", "-22.64532456", "-22.64539352", "-22.64555378", "-22.64564243", "-22.64569609", "-22.64573536", "-22.64580127", "-22.64488379", "-22.64383191", "-22.6438304", "-22.64377332", "-22.64371781", "-22.6437041", "-22.643692", "-22.64327963", "-22.64338985", "-22.64315475", "-22.64310932", "-22.64287684", "-22.64274972", "-22.64275124", "-22.64267663", "-22.64248261", "-22.64243301", "-22.64262592", "-22.64344326", "-22.64298244", "-22.64302721", "-22.64280494", "-22.64278975", "-22.64269152", "-22.64221019", "-22.64218751", "-22.64215546", "-22.64195777", "-22.64217406", "-22.64200022", "-22.64193538", "-22.64202859", "-22.64198048", "-22.64160813", "-22.64158899", "-22.64156134", "-22.64168279", "-22.64151765", "-22.64145313", "-22.6414154", "-22.64185409", "-22.64206907", "-22.64210789", "-22.64309658"];
            var longitude = ["-47.19551895", "-47.19551286", "-47.19539095", "-47.19548417", "-47.19539403", "-47.19527673", "-47.19522787", "-47.19521728", "-47.19511158", "-47.19502328", "-47.19585535", "-47.19585551", "-47.19583246", "-47.19583746", "-47.1960175", "-47.19609691", "-47.19619753", "-47.19623795", "-47.196281", "-47.19694798", "-47.19711649", "-47.19785074", "-47.19726116", "-47.19727046", "-47.19733101", "-47.19737051", "-47.19740842", "-47.19746273", "-47.19746322", "-47.1973172", "-47.19798772", "-47.19798768", "-47.19802313", "-47.19858687", "-47.19894898", "-47.19895375", "-47.1989607", "-47.19894518", "-47.19914924", "-47.19914563", "-47.19926923", "-47.19960879", "-47.19973918", "-47.19981513", "-47.19984596", "-47.20002117", "-47.20003232", "-47.20087108", "-47.20124283", "-47.20169572", "-47.20187833", "-47.20123042", "-47.20123502", "-47.20122924", "-47.20122347", "-47.20122359", "-47.19499652", "-47.19495283", "-47.1949099", "-47.19494727", "-47.19486718", "-47.19476909", "-47.19469744", "-47.19478834", "-47.1947976", "-47.19495781", "-47.19967431118451", "-47.2002729", "-47.20034193", "-47.20036928", "-47.20052001", "-47.20061003", "-47.20065024", "-47.20071409", "-47.20089039", "-47.20107143", "-47.20110675", "-47.20120536", "-47.20117168", "-47.20130293", "-47.20132488", "-47.20134678", "-47.20134941", "-47.20143908", "-47.20152385", "-47.2015011", "-47.20139771", "-47.20139765", "-47.20017905", "-47.20009924", "-47.20014104", "-47.20014144", "-47.20008181", "-47.2000074", "-47.19995074", "-47.19994104", "-47.19999686", "-47.19993977", "-47.19987147", "-47.19982094", "-47.19984344", "-47.19999769", "-47.19961974", "-47.20067603", "-47.20059905", "-47.20006749", "-47.1980616", "-47.19802425", "-47.19757593", "-47.19733654", "-47.1972223", "-47.19649935", "-47.19652489", "-47.19649779", "-47.19659441", "-47.19649221", "-47.19635294", "-47.19621339", "-47.19617953", "-47.19618395", "-47.19618379", "-47.19615236", "-47.19611621", "-47.19602026", "-47.19594907", "-47.19570273", "-47.19568205", "-47.19547229", "-47.19540938", "-47.19551818", "-47.19554268", "-47.19540166", "-47.19536028", "-47.19531132", "-47.19516399", "-47.19517781", "-47.19512951", "-47.19506302", "-47.19491248", "-47.19485498", "-47.19453146", "-47.19448153", "-47.19441321", "-47.19448236", "-47.19445078", "-47.19446398", "-47.19446887", "-47.19446865", "-47.19426345", "-47.19405615", "-47.19383305", "-47.19381112", "-47.19370998", "-47.19348894", "-47.19353724", "-47.19346553", "-47.19331559", "-47.19294394", "-47.19270972", "-47.19258706", "-47.19250419", "-47.19238844", "-47.19466014", "-47.1947645", "-47.19477708", "-47.19488626", "-47.19499856", "-47.19543399", "-47.19507001", "-47.1957148", "-47.19575791", "-47.19602742", "-47.1961659", "-47.19664844", "-47.19689454", "-47.19697565", "-47.19737047", "-47.19752459", "-47.19766078", "-47.19752128", "-47.19530325", "-47.19530419", "-47.19544706", "-47.19548116", "-47.19552303", "-47.19565139", "-47.19621975", "-47.1962463", "-47.19630808", "-47.19653164", "-47.19478982", "-47.19500047", "-47.19512436", "-47.19521345", "-47.1952198", "-47.19587568", "-47.19588676", "-47.19596269", "-47.19598005", "-47.19602441", "-47.19619703", "-47.19628927", "-47.19530307", "-47.19511839", "-47.1947745", "-47.19929989"];

            //var checkboxArray = document.getElementById('waypoints');
            for (var i = 0; i < latitude.length; i++) {
                if(i==0)
                    addMarker(new google.maps.LatLng(latitude[i], longitude[i]), "Inicio");
                else {
                    if (i == latitude.length - 1)
                        addMarker(new google.maps.LatLng(latitude[i], longitude[i]), "Fim");
                    else {
                        addMarker(new google.maps.LatLng(latitude[i], longitude[i]), "");
                    }
                }

            }

            
        }


        

        function addMarker(place,style) {

            /*
            var marker = new google.maps.Marker({
                map: map,
                position: place,
                icon: {
                    url: 'http://maps.gstatic.com/mapfiles/circle.png',
                    anchor: new google.maps.Point(10, 10),
                    scaledSize: new google.maps.Size(10, 17)
                }
            });

            google.maps.event.addListener(marker, 'click', function () {
                service.getDetails(place, function (result, status) {
                    if (status !== google.maps.places.PlacesServiceStatus.OK) {
                        console.error(status);
                        return;
                    }
                    infoWindow.setContent(result.name);
                    infoWindow.open(map, marker);
                });
            });*/

            if (style == "Inicio") {
                var marker = new google.maps.Marker({
                    position: place,
                    map: map,
                    title: 'Hello World!',
                    icon: {
                        url: 'http://labs.google.com/ridefinder/images/mm_20_red.png',
                        anchor: new google.maps.Point(10, 10),
                        scaledSize: new google.maps.Size(20, 34)
                        
                    }
                });
            } else {
                if (style == "Fim") {
                    var marker = new google.maps.Marker({
                        position: place,
                        map: map,

                        icon: {
                            url: 'http://labs.google.com/ridefinder/images/mm_20_black.png',
                            anchor: new google.maps.Point(10, 10),
                            scaledSize: new google.maps.Size(20, 34)
                        }
                    });
                } else {
                    var marker = new google.maps.Marker({
                        position: place,
                        map: map,

                        icon: {
                            url: 'http://maps.gstatic.com/mapfiles/circle.png',
                            anchor: new google.maps.Point(10, 10),
                            scaledSize: new google.maps.Size(10, 17)
                        }
                    });
                }
            }
        }

    </script>
  </head>
  <body>
    <div id="map"></div>
      
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsFn8_XaUUs5lbMr1s81nwPdc2b7kWnS8&callback=initMap&signed_in=true&libraries=places,visualization" async defer></script>
      
  </body>
</html>