﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site1.master.cs" Inherits="Site1" %>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>TCM-SAC</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <asp:ContentPlaceHolder ID="headLogin" runat="server"></asp:ContentPlaceHolder>
</head>
<body>

    <div class="row" style="padding: 1px">
        
        <div class="col-sm-12">
            <div class="container" style="padding-top: 10px">
                <asp:ContentPlaceHolder ID="ContentPlaceHolderLogin" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </div>


    <script src="Scripts/jquery-2.0.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
