﻿.grid {
    color: rgb(51, 51, 51);
    background-color: White;
    border-color: rgb(153, 153, 153);
    border-width: 1px;
    border-style: none;
    width: 100%;
    border-collapse: collapse;
}

table {
    max-width: 100%;
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr{
    color: Black;
background-color: Gainsboro;
}
